<html>

<head>
    <!--Meta data-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="Doge Balance">
    <meta name="HandheldFriendly" content="true" />
    <!--VR Scripts-->
    <!--    <script src="js/aframe.min.js"></script>-->
    <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
    <script src="js/aframe-look-at-component.js"></script>
    <!--Main App Scripts-->
    <script src="js/vue.min.js"></script>
    <!--    <script src="js/vue.js"></script>-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/qr_packed.js"></script>
    <script src="js/numeral.min.js"></script>
    <!--Style Sheets-->
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Short+Stack" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/vue-animate.min.css">
    <!--icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Dogecoin Balance</title>

</head>

<body>

    <div id="app">

        <!--This is where the VR starts-->
        <div id="VRDoge">
            <a-scene embedded vr-mode-ui="enabled: true">
                <a-assets>
                    <img id="dogeCoinImg" src="images/dogecoin.png">
                    <img id="sky" src="images/stars.jpg">
                    <img id="moonSurface" src="images/moon.jpg">
                    <img id="earthMap" src="images/earthDay.jpg">
                    <img id="mountains" src="images/mountains.png">
                </a-assets>
                <a-sky color="black"></a-sky>
                <a-entity camera="userHeight: 1.6" look-controls></a-entity>
                <a-sphere id="skyBox" material="src: #sky; side: back;" radius="500">
                    <a-animation attribute="rotation" dur="500000" fill="forwards" to="0 360 0" easing="linear" repeat="indefinite"></a-animation>
                </a-sphere>
                <a-sphere id="skyBox2" material="src: #sky; side: back;" radius="499.5;" opacity="0.7;">
                    <a-animation attribute="rotation" dur="500000" fill="forwards" to="360 0 0" easing="linear" repeat="indefinite"></a-animation>
                </a-sphere>


                <a-sphere id="theMountains" material="src: #mountains; side: back; transparent: true;" radius="450;" opacity="1;">
                </a-sphere>

                <a-sphere id="earth" rotation="360 0 0" position="-170 280 -3" material="height:0.1;src:#earthMap;color:white;metalness:0" height="0.1" radius="50" scale="1 1 1">
                    <a-animation data-brackets-id="19270" attribute="rotation" dur="900000" fill="both" to="0 360 0" easing="linear" repeat="indefinite"></a-animation>
                </a-sphere>

                <a-cylinder id="LargeDogeCoin" rotation='90 0 0' position='0 2.21 -3' material="src: #dogeCoinImg; color: gold; metalness:0.2;" height="0.1" radius="1">
                    <a-animation attribute="rotation" dur="5000" fill="both" to="90 0 360" easing="linear" repeat="indefinite"></a-animation>
                </a-cylinder>

                <a-entity position="0 1.43 -4">
                    <a-text id="VRBalance" material="metalness:0;" align='center' position="0 -0.45 1.4" rotation="-13 0 0" height="1" width="2" value="CURRENT BALANCE"></a-text>

                    <a-text id="VRDogeBalance" color="yellow" align='center' position="0. -0.6 1.522" rotation="-13 0 0" v-bind:value="balanceRaw + ' DOGE'"></a-text>

                    <a-text id="VRAddr" material="metalness:0;" align='center' position="0 -0.8 1.539" rotation="-13 0 0" height="1" width="2" v-bind:value="visibleAddr"></a-text>

                    <!--                    <a-text id="1Dis1DVR" align="center" position="0.1 3 0.332" rotation="0 0 0" v-bind:value="'1D = ' + dogeExchangeRate + country" scale="1 1 1" visible="true"></a-text>-->

                </a-entity>
                <a-image id="Ground" height="25" width="50" rotation="90 0 0" position="0 0 0" src="#moonSurface"></a-image>
            </a-scene>
        </div>
        <!--This is where the VR ends-->
        <div class="BGClose" v-if="showConversion" @click="showCurrenciesMenu(), showConversionMenu()"></div>
        <div class="previousAddressBGClose" v-if="showPrevAddrMenu && slot1" @click="showPreviousAddressMenu()"></div>
        <nav class="navDoge fadeInDown" role="navigation" aria-label="main navigation" @click="showConversionMenu()">
            <div class="titleDoge">
                <span class="wow">DOGECOIN</span> <img alt="Flat Dogecoin Image" class="dogeIcon" src="images/dogeIcon.png">
                <span class="wow">BALANCE</span>
            </div>
        </nav>

        <transition name="fade" enter-active-class="fadeInDown" leave-active-class="fadeOutUp">
            <nav class="navDoge exchangeDoge" role="navigation" aria-label="main navigation" v-if="showConversion" @click="showCurrenciesMenu()">
                <div class="currentInfo">

                    <div class="has-text-centered">
                        <p>Exchange Rate</p>
                        <h1>1Đ</h1> =
                        <h1>{{ dogeExchangeRate }} {{ dogeTargetCurrency }}</h1>
                    </div>

                    <div class="has-text-centered currentExchangeRate">Your Balance: {{ dogeConversion }}{{ dogeTargetCurrency }}<br><span class="icon dogeBurger" @click="showCurrenciesMenu()"><i @click="showCurrenciesMenu()" class="mdi mdi-chevron-down"></i></span></div>

                </div>
            </nav>
        </transition>

        <transition name="fade" enter-active-class="fadeInDown" leave-active-class="fadeOutUp">
            <aside class="menu currencyMenu" v-if="showCurrencies" @close="showCurrencies = false">
                <p class="menu-label">
                    <br>Choose a currency
                </p>
                <ul class="menu-list">
                    <li @click="country = ('doge'), dogeCountry(), showCurrencies = false">DOGE</li>
                    <li @click="country = ('usd'), dogeExchange(), convertDoge(), showCurrencies = false">USD</li>
                    <li @click="country = ('eur'), dogeExchange(), convertDoge(), showCurrencies = false">EUR</li>
                    <br>
                    <div class="field has-addons column is-half-desktop">
                        <div class="control currencyForm">
                            <input class="input" type="text" id="currencyInput" placeholder="Enter Currency Code" @keyup.enter="getCurrency(), dogeExchange(), showCurrencies = false">
                        </div>
                        <div class="control currencySearch">
                            <a class="button" @click="getCurrency(), dogeExchange(), showCurrencies = false">
                              <span class="icon"><i class="mdi mdi-magnify"></i></span>
                            </a>
                        </div>
                    </div>
                </ul>
            </aside>
        </transition>

        <div class="dogeContent">

            <div class="columns is-mobile">

                <div class="column is-half is-offset-one-quarter has-text-centered dogeCoinImage bounceIn">
                    <transition name="fade" mode="out-in">
                        <div key="1" v-if="QRisActive">
                            <img alt="QR code" height="200px;" width="200px" class="mainImg" v-if="QRisActive" :src="QR" @click="QRisActive = !QRisActive">
                        </div>

                        <div key="2" v-if="!QRisActive">
                            <img alt="Dogecoin image" height="200px;" width="200px" class="mainImg" :src="dogeCoinImg" @click="QRisActive = !QRisActive">
                        </div>
                    </transition>
                </div>
            </div>
            <div class="addressForm fadeIn">
                <div class="columns is-mobile">

                    <div class="column is-half-desktop is-offset-one-quarter-desktop has-text-centered is-paddingless subtitleDoge is-unselectable">Current Balance
                        <br>
                        <transition name="fade" mode="out-in">
                            <div key="1" v-if="isRaw">
                                <div @click="isRaw = !isRaw" class="title count">{{ balance }}</div>
                            </div>
                            <div key="2" v-if="!isRaw">
                                <div @click="isRaw = !isRaw" class="title">{{ balanceRaw }}</div>
                            </div>
                        </transition>
                    </div>
                </div>

                <div class="columns is-mobile">

                    <div class="column is-half-desktop is-offset-one-quarter-desktop has-text-centered qrcode-text">
                        <input id="input" type=text placeholder="DOGE Public Address" class="qrcode-text" v-model="addr" @keyup.enter="dogeBalance(); dogeQR(); dogeVisibleAddr(); dogeClearAddr();">
                        <label class="qrcode-text-btn">
                    <input type=file accept="image/*" capture=environment onclick="return showQRIntro();" onchange="openQRCamera(this);" tabindex=-1>
                </label>
                    </div>
                </div>

                <div class="has-text-centered visAddress"><a @click="showPreviousAddressMenu">{{ visibleAddr }} </a>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop has-text-centered">
                        <br>
                        <div class="buttons has-addons is-centered">
                            <button class="button is-large dogeButton" is-warning @click="dogeBalance(); dogeQR(); dogeVisibleAddr(); dogeExchange(); convertDoge(); dogeClearAddr();">Find my Đoge</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Close address form-->
        </div>
        <!--close dogeContent-->


        <transition name="fade" enter-active-class="fadeInUp" leave-active-class="fadeOutDown">
            <div v-if="showPrevAddrMenu && slot1" class="previousAddress column is-full-mobile is-half-tablet is-half-desktop is-offset-one-quarter">
                <p class="is-unselectable" @click="showPreviousAddressMenu();">Previous Addresses <button class="delete" aria-label="close"></button></p>
                <ul>
                    <li v-if="slot1" @click="visibleAddr = slot1; previousAddressBalance(); dogeExchange(); showPreviousAddressMenu();">{{ slot1 }}</li>
                    <li v-if="slot2" @click="visibleAddr = slot2; previousAddressBalance(); dogeExchange(); showPreviousAddressMenu();">{{ slot2 }}</li>
                    <li v-if="slot3" @click="visibleAddr = slot3; previousAddressBalance(); dogeExchange(); showPreviousAddressMenu();">{{ slot3 }}</li>
                </ul>

            </div>
        </transition>
        <nav class="navbar is-transparent is-fixed-bottom bottomNav fadeInUp">
            <div class="navbar-brand">

                <div aria-label="Start VR Mode" class="navbar-item navButton" @click="startVR()">
                    <h3>VR <span class="icon"><i class="mdi mdi-google-cardboard"></i></span></h3>
                </div>
                <div aria-label="Start AR Mode" class="navbar-item navButton" onclick="return confirmAR();">
                    <h3>AR <span class="icon"><i class="mdi mdi-camera"></i></span></h3>
                </div>


                <div class="navbar-item navButton" @click="showModal = true">
                    <h3><span class="icon"><i class="mdi mdi-help"></i></span>Info</h3>
                </div>
            </div>
        </nav>
        <!--bottom Nav End-->
        <modal v-if="showModal" @close="showModal = false">
            <header slot="header">
                <h1>About this App!</h1>
            </header>
            <section slot="body">
                <p>DISCLAIMER: This web app was built as a learning experiment and for entertainment purposes! Please do not use it for any financial transactions and make sure that you double and triple check with official sources for completely accurate information. If you do choose to use the information on this web app for that purpose, you do so at your own risk. I am not responsible for any inaccurate information on this web app.</p>
                <br>
                <h2>Download: <a href="https://galacticmantis.github.io/dogebalance/downloads/dogeAR.pdf" target="_blank">AR Target Image</a></h2><br><br>

                <h1>Wow. Much hello.</h1>
                <p class="about">
                    You want to know more about this app?
                    <p>The basic idea was to have a simple way to check your DOGE balance on your phone. Originally I had just planned on having you copy and paste your address into the search bar. Then I found out how to implement QR code scanning. Then I thought, well that's all really cool but you know what would be even cooler? Virtual and Augmented Reality integration! As you can tell, these features are probably extremely buggy but they sorta work! Does any other cryptocurrency have that? NO! Not to m...(line truncated)...

                        <p>Why this? I wanted to learn how to use VueJS and build a functional and practical web app (Gotta do something inbetween sleep and unemployment). So I thought it would be a fun idea to make an app for all the awesome shibe that use DogeCoin. The community seems so nice and even though I'm a lurker, it's refreshing to be somewhere on the internet that is happy.</p>

                        <p>In its simplest form, this app uses the dogechain.info API to check your balance and then displays it on the screen for you!</p>

                        <br>
                        <h1>Features:</h1>

                        <ul>
                            <li>1. Easily check your DOGE balance!</li>
                            <li>2. Either type in your Public Address or Scan your QR code!</li>
                            <li>3. Tap on your address to see the 3 previous addresses entered.</li>
                            <li>4. You can go to the Moon with your DOGECOIN in VR!</li>
                            <li>5. You can look at your balance with AR!</li>
                            <li>6. If you tap your balance it'll switch between decimal and non-decimal mode.</li>
                            <li>7. If you tap the Shibe's face it'll show you your QR code.</li>
                            <li>8. The app will save your Public Address so that your balance will pop up automatically next time!(hopefully)</li>
                            <li>9. 1Đ will always be 1Đ but if for some reason you want to check the current exchange rate tap the top bar to open the panel. Tap that panel to choose or enter a currency.</li>
                            <li>10. The currency rate you choose will refresh automatically every 35 seconds.</li>
                        </ul>
                        <br>

                        <p>Note 1: to use the AR feature you need to use a target. I'm using a preset target from ARToolkit for now. I dazzled it up a little and put it in PDF form for easy printing. You can get it by <a href="https://galacticmantis.github.io/dogebalance/downloads/dogeAR.pdf" target="_blank">Clicking Here</a>.</p>
                        <p> Note 2: AR should work natively in your mobile browser! For iPhones you have to be on iOS11 and use Safari. For Android phones I'd probably reccomend Chrome.</p>

                        <p>NOTE 3: The VR feature can be used on mobile with a Google Cardboard or something similar. It can also be used with a desktop VR headset. You can also just click it in your regular browser window and it'll open a full screen 2D version!</p>
                        <br>
                        <br>

                        <h2 class="strike">Bugs:</h2>
                        <h2>&nbsp; Bonus features:</h2>

                        <ul>
                            <li>1. Sometimes VR mode spazzes out after getting a new address. If that happens just refresh and try again.</li>
                            <li>2. QR scan logo is kind of hard to tap sometimes.</li>
                            <li>3. AR mode might look weird in portrait mode. Try turning to landscape.</li>
                            <li>4. If AR mode isn't working, or camera isn't showing up then try refreshing.</li>
                            <li>5. For iOS the QR camera only works in Safari. Will not work when you add to homescreen. I'm not sure about Android.</li>
                            <li>6. If this info modal gets stuck, press the X and re-open.</li>
                        </ul>
                    </p>
                    <br>
                    <p>I guess that's it... If you wanna check out my source code it's available on <a href="https://github.com/galacticMantis/dogebalance" target="_blank"><span class="icon"><i class="mdi mdi-github-circle"></i></span> Github</a>.</p>
                    <br>
                    <h2>The awesome things I used to create this!</h2>
                    <p>
                        <ul>
                            <a href="https://vuejs.org/" target="_blank">
                                <li>Vue.JS</li>
                            </a>
                            <a href="https://bulma.io/" target="_blank">
                                <li>Bulma.IO</li>
                            </a>
                            <a href="https://dogechain.info/">
                                <li>Dogechain.info API</li>
                            </a>
                            <a href="https://www.cryptonator.com/">
                                <li>Cryptonator.com</li>
                            </a>
                            <a href="https://aframe.io/" target="_blank">
                                <li>Aframe.IO</li>
                            </a>
                            <a href="https://github.com/jeromeetienne/AR.js" target="_blank">
                                <li>AR.JS</li>
                            </a>
                            <a href="https://jquery.com/" target="_blank">
                                <li>JQuery</li>
                            </a>
                            <a href="https://github.com/" target="_blank">
                                <li>Github</li>
                            </a>
                            <a href="https://www.sitepoint.com/create-qr-code-reader-mobile-website/" target="_blank">
                                <li>QRCode Scanner</li>
                            </a>
                            <a href="https://materialdesignicons.com/" target="_blank">
                                <li>Material Design Icons</li>
                            </a>
                            <a href="https://www.reddit.com/r/dogecoin/" target="_blank">
                                <li>Dogecoin Subreddit</li>
                            </a>
                        </ul>
                    </p>

                    <p>Thank you all for getting all the way down to the bottom of this thing. Thank you dogecoing community for inspiring me to learn how to make this thing work. Hopefully you find it useful and fun!</p>
                    <p>If you feel like I deserve it, I'd be grateful to accept any tips to my dogecoin address. Or hey maybe you're hiring a remote web designer?</p>
                    <a href="https://dogechain.info/address/DPy6NKcp5Fed26Q6Zs1WjRBp1eNHAXBMHy" target="_blank">
                        <p class="visAddress">DPy6NKcp5Fed26Q6Zs1WjRBp1eNHAXBMHy</p>
                    </a>
                    <p>Last updated January 2018</p>
                    <p>Thank you everyone if you have any questions send me an email, galacticmantis at gmail dot com.</p>
            </section>

        </modal>
        <!--Close info Modal-->
        <!-- modal component -->
        <script type="text/x-template" id="modal-template">
            <transition name="slideDown">
                <div class="modal">
                    <div class="modal-background" @click="$emit('close')"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <slot name="header">
                                <h1>Title</h1>
                            </slot>
                            <p class="modal-card-title"></p>

                            <button class="delete" aria-label="close" @click="$emit('close')"></button>
                        </header>
                        <section class="modal-card-body">
                            <slot name="body">
                                default body
                            </slot>
                        </section>
                        <footer class="modal-card-foot">
                            <slot name="footer">
                            </slot>
                        </footer>
                    </div>
                </div>
            </transition>
        </script>

    </div>
    <!--Close App-->

    <script type="text/javascript" src="js/app.js"></script>

</body>

</html>